*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Montserrat/static/");
}

.header1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;  
    border-bottom: rgba(211, 211, 211, 0.384) 1px solid;   
}

.brand{
    display: flex;
    gap: 4rem;
}

.nav{
    display: flex;
    gap: 2rem;
    height: 80px;
}

a{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell
    , 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color:grey ;
    opacity: 0.8;
    box-sizing: border-box;
    padding-top: 28px;  
}

.collections:hover{
  color: black;
  opacity: 0.8;
  border-bottom: 3px solid #FF7D1B;
  box-sizing: border-box;
}
.men:hover{
  color: black;
  opacity: 0.8;
  border-bottom: 3px solid #FF7D1B;
  box-sizing: border-box;
}

.women:hover{
  color: black;
  opacity: 0.8;
  border-bottom: 3px solid #FF7D1B;
  
  box-sizing: border-box;
}
.about:hover{
  color: black;
  opacity: 0.8;
  border-bottom: 3px solid #FF7D1B;
  
  box-sizing: border-box;
}
.contact:hover{
  color: black;
  opacity: 0.8;
  border-bottom: 3px solid #FF7D1B;
  box-sizing: border-box;
  
}

.cart{
    display: flex;
    gap: 1.4rem;
}

.img1:hover{
    border:2px solid #FF7D1B;
    border-radius: 50%;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 4rem;
}
/* .main{   
   height: 80%;
   width: 60%; 
   margin: 0px auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
} */

.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.section1{
   height: 100%;
   width: 100%;
   gap: 1.7rem;
   display: flex;
   flex-direction: column;

}

.images{
    height: auto;
    width: 100%;   
    max-width:fit-content;
    object-fit: cover;
}

.thumbnail{ 
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;   
}

.thumbnail .button{
  border:3px solid #FF7D1B; 
}

.thumbImage{
    border-radius: 10px;
}

.mainImage{    
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}

.section2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     
}

.header{
    display: flex;
    flex-direction: column;
    height:15rem ;
    justify-content: space-between;   
}

.btns{
    display: flex;
    gap: 1rem;
}

.btns .btn1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f0;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.cartBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #FF7D1B;
    width: 20.5rem;
    border-radius: 10px;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

 .thumbImage:hover{   
   opacity: 0.4;  
}

.menu{
 display: none;
}


@media (max-width:450px) and (min-width:320px){

    .brand .menuLogo{
        display: block;
    }
    .nav .collections{
        display: none;
    }
    .nav .men{
        display: none;
    }
    .nav .women{
        display: none;
    }
    .nav .about{
        display: none;
    }
    .nav .contact{
        display: none;
    }
    .logo{
      display: flex;
      gap: 1rem;      
    }
    .main {
       display: flex;
       flex-direction: column;
       width: 100%;
    }
        
    .thumbnail{
        display: none;
    }
    .header p{
        max-width: fit-content;
    }
    
    .mainRate{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sections{
        display: block;
       
    }
    .container{
        margin: 0;
    }
    .mainImage{
        border-radius: 0;
    }

    .section2{
     max-width: 400px;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
     
    }
    .btns {
        display: flex;
        flex-direction: column;
    }
    .btns button{
        width: 100px;
    }
}






